.RegCard__Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  flex-grow: 1;

  .RegCard {
    background: var(--vkui--color_background_tertiary);
    @media screen and (max-width: 768px) {
      background: var(--vkui--color_background_content);
    }
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 16px;

    .RegCard__Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      width: 100%;
      font-size: 20px;
      box-sizing: border-box;
      padding: 0 14px;
      padding-bottom: 16px;

      .vkuiButton, .vkuiButton__in {
        min-width: 24px;
        width: 24px;
        .vkuiButton__content {
          padding: 0;
          transform: scaleX(-1);
        }
      }
    }

    .vkuiFormItem {
      padding-bottom: 0;
    }

    .ButtonFormItem {
      padding-top: 24px;
    }
  }
}